* {
    font-family:Arial, Helvetica, sans-serif;
    color:white;

  
  }
  
  html {
   background-color: black;

  }

  #myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
  }

li, div {
  text-align:left;


}

a {
    background-color: darkblue;
  
  
  }

  .center {
    outline:solid 10px;
    padding-top:100px;
    padding-bottom:100px;
    padding-left:50px;
    padding-right:50px;
    box-sizing:border-box;
    border-radius:10px;
    width:800px;
    margin:auto;
    margin-top:90px;
    margin-bottom:200px;
    background-color: rgb(8, 12, 12);
    }


    .backgroundtext {
      background-color: black;
      outline: solid 3px;
      padding: 3px;
      border-radius:3px;
      text-decoration: none;
      margin:auto;
      
      
      
      }
      

      h1 {
        background-color: rgba(2, 17, 20, 0.972);
        outline: solid 3px;
        padding: 10px;
        border-radius:100px;
        width:fit-content;
        margin-bottom: 35px;
        text-decoration: none;
        
        
        
        }



        h2 {
          background-color: rgba(2, 17, 20, 0.972);
          outline: solid 3px;
          padding: 5px;
          border-radius:100px;
          width:fit-content;
          margin-bottom: 35px;
          margin-top: 35px;
          text-decoration: none;
          
          
          
          }


  img {
  margin: auto;
  display:block;
  border-radius: 10px;
  outline: solid;


  }

  h1 {
   text-align: center;

    
  }

   li {
   background-color: black;
   padding: 10px;

   margin-top:25px;
   outline: solid;
   border-radius: 10pt;



  }