* {
    font-family:Arial, Helvetica, sans-serif;
    color:white;

  
  }
  
  html {
   background-color: black;
  
  }

li, div {
  text-align:left;


}

a {
    background-color: darkblue;
  
  
  }

